@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-dev-bg text-dev-text antialiased;
}

/* Test : si Tailwind fonctionne, tous les h1 seront rouges */
h1 {
  @apply text-red-500;
}
